@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-primary;
    }
    .container {
        @apply relative w-full min-h-screen mr-auto ml-auto px-6 2xl:max-w-[1536px] 2xl:pl-[13rem] 2xl:pr-[13rem] xl:max-w-[1280px] xl:pl-[5rem] xl:pr-[5rem] lg:max-w-[1024px] lg:pl-[45px] lg:pr-[45px] md:max-w-[768px] md:pl-[15px] md:pr-[15px];
    }
    section {
        @apply py-[50px] md:py-[80px] max-w-[1145px] px-8 lg:px-0 mx-auto;
    }
    .tab__item {
        @apply relative transition-all duration-300 hover:bg-sky-600/10 flex items-center w-full text-left text-slate-400 cursor-pointer h-[42px] p-[0px_25px_2px] border-l-[2px] border-l-[#233554];
    }
    .__navright {
        @apply hidden md:flex items-center gap-6;
    }
    .__navright-mobile {
        @apply flex md:hidden items-center justify-center flex-col gap-6 absolute top-0 right-0 bottom-0 min-h-svh w-2/3 z-40;
    }
    .__navright span,
    .__navright-mobile span {
        @apply text-sky-500;
    }
    a {
        @apply cursor-pointer;
    }
    .__heading-line {
        @apply flex items-center w-full after:w-1/3 after:opacity-25 gap-3 after:h-[1px] after:bg-slate-400 after:inline-block;
    }
    .__button-class {
        @apply relative h-auto inline-flex items-center text-[14px] md:text-[16px] justify-center rounded-md transition-all font-medium bg-sky-400 duration-300 hover:translate-y-[-5px] hover:translate-x-[-5px] hover:shadow-lg;
    }
    .__button-class:hover {
        box-shadow: 4px 4px 0 0 #38bdf8;
    }
}

* {
    scroll-behavior: smooth;
}

.rl {
    writing-mode: vertical-rl;
}

/* Scrollbar Styles */
html {
    scrollbar-width: thin;
    scrollbar-color: #495670 #0a192f;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #0a192f;
}
::-webkit-scrollbar-thumb {
    background-color: #495670;
    border: 3px solid #0a192f;
    border-radius: 10px;
}
